<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Determine PFZ</title>
    </head>
    
    <body>
        <div>
            <h1>Predict PFZ Analysis</h1>
            
            <form action ="/" method="post">
                <br/>
<!--                 <center> -->
                    <div>
                        <label>Longitude :</label>
                        <input type="text" name="LON" placeholder="Longitude" required="required"/><br/><br/>
                    </div>
                
                  <div>
                        <label>Latitude :</label>
                     <input type="text" name="LAT" placeholder="latitude" required="required"/><br/><br/>
                  </div>
                
                
                    Temperature :<input type="range" name="SST" placeholder="temperature" min="22" max="44" required="required"/><br/><br/>
                    Salinity :<input type="range" name="SSS" placeholder="salinity" min="22" max="34" required="required"/><br/><br/>
                    Chlorophyll :<input type="range" name="SSC" placeholder="chlorophyll" min="0.5" max="3" required="required"/><br/><br/>
<!--                 </center> -->
                
                <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
            </form>
            
            <br/>
            <br/>
            
            {{ prediction_text }}
        </div>
    </body>
</html>
          
